
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div class="text-info">
<div class = "control-label col-lg-3" style = "text-align: center"> 

<h3>Shift Details</h3>
{% if error_message %}
    <p><strong>{{error_message}}</strong></p>    
{% endif %}
<br>
<h4>SHIFT-NUMBER:  {{shift.id}}</h4>
<h4>SHIFT-START:  {{shift.start_datetime}}</h4>
<h4>SHIFT-END:  {{shift.end_datetime}}</h4>
<h5>Would you like to create a run?</h5>
<ul class="nav nav-pills" style="margin-bottom: 10px;">
      
        <label role="presentation" class="active">
            <a href = "{% url 'shift:run-add' shift.id %}" class="active">Add New Run</a>
        </label>
    </ul>
<form action = "{% url 'shift:covered'  shift.id%}" method = "post">
        {% csrf_token %}
    {% for run in shift.runs_related.all %}
<h5>RUN-INFO: User_id:  {{run.user_id}} Start:  {{run.start_datetime}} End:  {{run.end_datetime}}</h5>
<input type = "radio" id="run{{ forloop.counter }}" name="run" value="{{ run.id }}">
    <label for="run{{ forloop.counter}}">
        Needs a Cover!
        {% if run.is_covered %}
            <img src="http://i.imgur.com/b9b13Rd.png" />
        {% endif %}
    </label><br>
    
    {% endfor %}
    <input type="submit" value="Submit">
</div>
</div>
</form>