<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% for field in form %}
    <div class = "form-group" style = "text-align: center"> 
        <div class = "col-sm-offset -2 col-sm-10">
            <span class = "text-danger small"> {{ field.errors }}</span>
        </div>
        <br>
        {% if forloop.counter != 1%}
        Format Field: YYYY-MM-DD HH:MM
        {% endif %}
        <br>
        <label class = "control-label col-sm-5" style = "left-margin: 300px;"> {{ field.label_tag}}</label>

        <div class = "col-sm-7" style = "text-align: center"> {{ field }}</div>
    </div>
{% endfor %}