<h5>January</h5>
{% if Jan %}
<ul>
    {% for shift in Jan %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No January shifts are available.</p>
{% endif %}

<h5>February</h5>
{% if Feb %}
<ul>
    {% for shift in Feb %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No February shifts are available.</p>
{% endif %}

<h5>March</h5>
{% if Mar %}
<ul>
    {% for shift in Mar %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No March shifts are available.</p>
{% endif %}

<h5>April</h5>
{% if Apr %}
<ul>
    {% for shift in Apr %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No April shifts are available.</p>
{% endif %}

<h5>May</h5>
{% if May %}
<ul>
    {% for shift in May %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No May shifts are available.</p>
{% endif %}

<h5>June</h5>
{% if Jun %}
<ul>
    {% for shift in Jun %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No Jun shifts are available.</p>
{% endif %}

<h5>July</h5>
{% if Jul %}
<ul>
    {% for shift in Jul %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No Jul shifts are available.</p>
{% endif %}

<h5>August</h5>
{% if Aug %}
<ul>
    {% for shift in Aug %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No August shifts are available.</p>
{% endif %}

<h5>October</h5>
{% if Oct %}
<ul>
    {% for shift in Oct %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No Oct shifts are available.</p>
{% endif %}

<h5>November</h5>
{% if Nov %}
<ul>
    {% for shift in Nov %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No November shifts are available.</p>
{% endif %}

<h5>December</h5>
{% if Dec %}
<ul>
    {% for shift in Dec %}
    <li>Shift# {{shift.id}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No December shifts are available.</p>
{% endif %}