
<ul>
    {% for shift in object_list %}
        <li><a href = "{% url 'shift:detail' shift.id%}"> {{shift.start_datetime }}</a></li>

</ul>

<form action="{% url 'shift:shift-delete' shift.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="shift_id" value="{{ shift.id }}"/>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash">Delete Shift</span>
        </button>
</form>

{%endfor%}

