<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div class ="control-label col-lg-1"style = "text-align: center">
<br>

    {% for shift in object_list %}
        <li><a href = "{% url 'shift:detail' shift.id%}">Shift # {{shift.id}}</a></li>
        <br>


<form action="{% url 'shift:shift-delete' shift.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="shift_id" value="{{ shift.id }}"/>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash">Delete Shift</span>
        </button>
</form>

<form action="{% url 'shift:shift-update' shift.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="shift_id" value="{{ shift.id }}"/>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-pencil">Edit Shift</span>
        </button>
</form>

{%endfor%}
</div>

