<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div class ="control-label col-lg-1"style = "text-align: center">
<h1 label = "title"> Welcome to the UC Davis Unitrans Shifts Website</h1>
<br></br>
<img src="https://c1.staticflickr.com/6/5027/5657186210_af6b672331_b.jpg" class="center-block" style="height: 45%"> </img>

<br></br>

<a href = {% url 'shift:shift-add'%}>
    <span class = "glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Shift
</a>
<br></br>
<a href="http://127.0.0.1:8000/shifts/index">Click Here to Navigate to the shifts</a>
<br></br>
<a href="http://127.0.0.1:8000/shifts/details/week">Click Here to Navigate to Week Groups</a>
<br></br>
<a href="http://127.0.0.1:8000/shifts/details/group">Click Here to Navigate to Month Groups</a>
<br></br>
</div>
